<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script> src="D:\Course Work\SIT120 Responsive Web apps\Week 1\task3.js"</script>
    <link rel="stylesheet" href="task2.css"/>
</head>
<body>
    <div id="container">
        <h1 style="background-color: green; width: 100px;">title</h1>
        <p>content</p>
        <img src="https://cdn.pixabay.com/index/2022/07/11/13-36-34-624_1440x550.jpg">
        <input type="password">
        <script> src="D:\Course Work\SIT120 Responsive Web apps\Week 1\task3.js"</script>
        <button onclick="getDate()"> Get date </button>
        <p id="date"></p>
    </div>
</body>
<body>
    <div id=""app">
        <!-- check the data -->
        <div
            v-for="todo in todos"
            :key="todo.title"
            :style="{ textDecoration: todo.checked? 'line-through':'none'}"
        >
            <input type="checkbox" v-model="todo.checked" />
            {{ todo.title}}
        </div>
    </div>
</body>
</html>
<script src="./todo.js"></script>